@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@500&family=Pacifico&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  min-height: 100vh;
  padding: 1rem;
  background-color: rgba(223, 232, 255, 0.239);
}
